__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

.idea/
.vscode/
*.swp
.DS_Store

logs/
airflow.db
airflow-webserver.pid
standalone_admin_password.txt

.pytest_cache/
.coverage

.docker/